<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="collapse container-fluid navbar-collapse">
    <ul class="navbar-nav mx-auto text-uppercase">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="products" routerLinkActive="active"> Products </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="cart" routerLinkActive="active"> Cart </a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer fixed-bottom position-fixed">
  <div class="container text-center">
    <span>The Price Engine 2021 @Test99x</span>
  </div>
</footer>
